* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.container label {
  font-size: 18px;
  margin-bottom: 10px;
}

.container input[type="text"],
.container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.container select {
  height: 40px;
}

.btn {
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #3e8e41;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-large {
  font-size: 24px;
  padding: 15px 30px;
  margin-top: 30px;
}

.prediction-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 24px;
}
